@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'League Spartan', sans-serif;
}


:root {
    --color-negro: #000;
    --color-azuloscuro: #142c44;
    --color-azulclaro: #2b4d6d;
    --color-azulmasclaro: #85b7e5;
    --color-gris: #eee;
    --color-blanco: #ffff;
    --rojo: #DB504A;
}

body {
    background: var(--color-gris);
    overflow-x: hidden;
    margin: 0;
}

body.dark {
    --color-azulclaro: #0C0C1E;
    --color-gris: #142c44;
    --color-blanco: #FBFBFB;
}

html {
    overflow-x: hidden;
}

/* :::::::::::::::::::::::::: */
/* NUEVO */
/* :::::::::::::::::::::::::: */

.classcheck {
    width: 40px;
    margin: 20px 10px;
}

.bienvenido {
    color: var(--color-azulmasclaro);
    white-space: nowrap;
}

.side-menu span {
    margin: 2px 0px 0px 0px;
}


/* :::::::::::::::::::::::::: */
/* SIDEBAR */
/* :::::::::::::::::::::::::: */

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: var(--color-azulclaro);
    z-index: 2000;
    transition: .3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
}

#sidebar::--webkit-scrollbar {
    display: none;
}

#sidebar.hide {
    width: 60px;
}

#sidebar .marca {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--color-azulmasclaro);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--color-azulclaro);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

#sidebar .marca .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}

#sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

#sidebar .side-menu li.active {
    background: var(--color-gris);
    position: relative;
}

#sidebar .side-menu li.active::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--color-gris);
    z-index: -1;
}

#sidebar .side-menu li.active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--color-gris);
    z-index: -1;
}

#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--color-azulclaro);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--color-blanco);
    white-space: nowrap;
    overflow-x: hidden;
}

#sidebar .side-menu.top li.active a {
    color: var(--color-azulmasclaro);
}

#sidebar.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width .3s ease;
}

#sidebar .side-menu li a.logout {
    color: var(--rojo);
}

.logout {
    color: var(--rojo);
}

.logout i {
    margin: 0px 0px 0px 8px;
    font-size: 30px;
}
.logout i:hover{
    color: #142c44;
    transition: 0.3s;
}

#sidebar .side-menu.top li a:hover {
    color: var(--color-azulmasclaro);
}

#sidebar .side-menu li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
}





/* :::::::::::::::::::::::::: */
/* CONTENIDO */
/* :::::::::::::::::::::::::: */

#contenido {
    position: relative;
    width: calc(100% - 280px);
    left: 280px;
    transition: .3s ease;
}

#sidebar.hide~#contenido {
    width: calc(100% - 60px);
    left: 60px;
}




/* :::::::::::::::::::::::::: */
/* NAVBAR */
/* :::::::::::::::::::::::::: */

#contenido nav {
    height: 56px;
    background: var(--color-azulclaro);
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

#contenido nav::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--color-azulclaro);
}

#contenido nav a {
    color: var(--color-blanco);
}

#contenido nav .bx.bx-menu {
    cursor: pointer;
    color: var(--color-blanco);
    font-size: 30px;
}

#contenido nav .nav-link {
    font-size: 16px;
    transition: .3s ease;
    white-space: nowrap;
}

#contenido nav .nav-link:hover {
    color: var(--color-azulmasclaro);
}

#contenido nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

#contenido nav form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
}

#contenido nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--color-gris);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--color-blanco);
}

#contenido nav form .form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-azulmasclaro);
    color: var(--color-azulclaro);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}


#contenido nav #modooscuro {
    display: none;
}

#contenido nav .modooscuro {
    display: block;
    min-width: 50px;
    height: 25px;
    border-radius: 25px;
    background: var(--color-gris);
    cursor: pointer;
    position: relative;
}

#contenido nav .modooscuro::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--color-azulmasclaro);
    border-radius: 50%;
    transition: all .3s ease;
}

#contenido nav #modooscuro:checked+.modooscuro::before {
    left: calc(100% - (25px - 4px) - 2px);
}






/* :::::::::::::::::::::::::: */
/* MAIN */
/* :::::::::::::::::::::::::: */

#contenido main {
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}

#contenido main .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

#contenido main .head-title .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--color-blanco);
}


#contenido main .box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

#contenido main .box-info li {
    padding: 24px;
    background: var(--color-azulclaro);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}

#contenido main .box-info li .bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenido main .box-info li:nth-child(1) .bx {
    background: var(--color-azuloscuro);
    color: var(--color-azulmasclaro);
}

#contenido main .box-info li:nth-child(2) .bx {
    background: var(--color-azuloscuro);
    color: var(--color-azulmasclaro);
}

#contenido main .box-info li:nth-child(3) .bx {
    background: var(--color-azuloscuro);
    color: var(--color-azulmasclaro);
}


.marca span {
    white-space: nowrap;
    color: var(--color-blanco);
    margin: 5px 0px 0px 0px;
}

#contenido main .box-info li .texto h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-blanco);
}

#contenido main .box-info li .texto p {
    color: var(--color-blanco);
}




/* :::::::::::::::::::::::::: */
/* RESPONSIVE */
/* :::::::::::::::::::::::::: */

@media screen and (max-width: 768px) {
    #sidebar {
        width: 200px;
    }

    #contenido {
        width: calc(100% - 60px);
        left: 200px;
    }

    #contenido nav .nav-link {
        display: none;
    }

    .marca span {
        font-size: 15px;
    }

    .bienvenido {
        font-size: 12px;
    }

}



@media screen and (max-width: 576px) {
    #contenido nav form .form-input input {
        display: none;
    }

    #contenido nav form .form-input button {
        width: auto;
        height: auto;
        background: transparent;
        border-radius: none;
        color: var(--color-blanco);
    }

    #contenido nav form.show .form-input input {
        display: block;
        width: 100%;
    }

    #contenido nav form.show .form-input button {
        width: 36px;
        height: 100%;
        border-radius: 0 36px 36px 0;
        color: var(--color-azulclaro);
        background: var(--rojo);
    }



    #contenido main .box-info {
        grid-template-columns: 1fr;
    }

    #contenido nav {
        grid-gap: 10px;
    }
}