@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'League Spartan', sans-serif;
}

body {
    background: var(--color-gris);
    overflow-x: hidden;
    margin: 0;
}

/* Para navegadores webkit (Chrome, Safari, Brave) */
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}

/* Para Mozilla Firefox */
::-moz-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}

/* Para navegadores Microsoft Edge */
::-ms-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}

:root {
    --color-negro: #000;
    --color-azuloscuro: #142c44;
    --color-azulclaro: #2b4d6d;
    --color-azulmasclaro: #85b7e5;
    --color-gris: #eee;
    --color-blanco: #ffff;
    --color-input: #ffff;
    --color-texto-input: #142c44;
    --color-texto: #142c44;
    --rojo: #DB504A;
    --fc-border-color: #eeeeee;
}

body.dark {
    --color-azulclaro: #0C0C1E;
    --color-gris: #142c44;
    --color-blanco: #FBFBFB;
    --color-texto: #FBFBFB;
    --color-input: #2b4d6d;
    --color-texto-input: #85b7e5;
}

/* Estilo para las filas de la tabla */

tr:hover {
    background-color: var(--color-azulclaro);
    /* Cambia el color de fondo al pasar el ratón por encima */
    color: var(--color-blanco);
}

table tbody tr:last-child td {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.table-wrapper table td:first-child {
    display: table-cell !important;
    grid-template-columns: initial !important;
    grid-gap: initial !important;
    text-align: initial !important;
}