
            #asignaturas1 {
                z-index: 999;
                visibility: hidden;
                opacity: 0;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                /* background: rgba(0, 0, 0, 0.8);
                transition: all .4s; */
                backdrop-filter: blur(2px);
            }
    
            .text12{
                padding-top: 8px;
                color: #fff;
                font-size: 20px;
            }
    
            #asignaturas1:target {
                visibility: visible;
                opacity: 1;
            }
    
            .btn12 {
                background-color: var(--color-azuloscuro);
                color: var(--color-blanco);
                border-radius: 5px !important;
                padding: 3px 10px;
                text-align: center;
                margin: 3px;
            }
    
            .modal__content1 {
                border-radius: 20px;
                position: relative;
                height: 475px;
                background: #2B4D6D;
                padding: 1em 2em;
                }
    
            /* separador */
    
            #asignaturas2 {
                z-index: 999;
                visibility: hidden;
                opacity: 0;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                /* background: rgba(0, 0, 0, 0.8);
                transition: all .4s; */
                backdrop-filter: blur(2px);
            }
    
            .text13{
                padding-top: 8px;
                color: #fff;
                font-size: 20px;
            }
    
            #asignaturas2:target {
                visibility: visible;
                opacity: 1;
            }
    
            .btn13 {
                background-color: var(--color-azuloscuro);
                color: var(--color-blanco);
                border-radius: 5px !important;
                padding: 3px 10px;
                text-align: center;
                margin: 3px;
            }
    
            .modal__content2 {
                border-radius: 20px;
                position: relative;
                height: 475px;
                background: #2B4D6D;
                padding: 1em 2em;
            }

            .modal__content3 {
                border-radius: 20px;
                position: relative;
                width: 275px;
                height: 300px;
                background: #2B4D6D;
                padding: 1em 2em;
            }

            .modal__content4 {
                border-radius: 20px;
                position: relative;
                width: 275px;
                height: 300px;
                background: #2B4D6D;
                padding: 1em 2em;
            }

            .modal__content5 {
                border-radius: 20px;
                position: relative;
                width: 275px;
                height: 300px;
                background: #2B4D6D;
                padding: 1em 2em;
            }

            .modal__content6 {
                border-radius: 20px;
                position: relative;
                width: 275px;
                height: 300px;
                background: #2B4D6D;
                padding: 1em 2em;
            }

            .modal__content7 {
                border-radius: 20px;
                position: relative;
                width: 275px;
                height: 350px;
                background: #2B4D6D;
                padding: 1em 2em;
            }

            .modal__content8 {
                border-radius: 20px;
                position: relative;
                width: 275px;
                height: 350px;
                background: #2B4D6D;
                padding: 1em 2em;
            }
    
            .modal__close2 {
            position: absolute;
            top: 10px;
            right: 15px;
            color: #fff;
            text-decoration: none;
            font-size: 20px;
        }

    
           